<h1>Sample App Home Page</h1>
<p>This is the home page of the tutorial.</p>

<%= link_to "Sign Up", signup_path, :class => "signup_button round" %>	<!-- in XXX_path, XXX is the name of the path, not the action name -->