 .container{
   width: 1000px;
 }

 body{
   background: #fff;
 }

 header{
   padding-top: 20px;
 }

 header img{
   padding: 1em;
   background: #fff;
 }

 section{
   margin-top: 1em;
   font-size: 120%;
   padding: 20px;
   background: #fff;
 }

 /*Links*/

 a{
   color: #09c;
   text-decoration: none;
 }

 a:hover{
   color: #069;
   text-decoration:underline;
 }

 a:visited{
   color: #039487;
   text-decoration:underline;
 }


 nav{
   float: right;
   background: #000;
   padding: 0 0.7em;
 }

 nav ul{
   margin: 0;
   padding: 0;
 }

 nav li{
   list-style-type: none;  /*removes the dot symbols*/
   display: inline;    all display in one line 
   padding: 0.2 0;
 }

 nav ul li a{
   padding: 0 5px;
   font-weight: bold;
 }

 nav ul li a:visited{
   color: #09c;
 }

 nav ul li a:hover{
   text-decoration: underline;
 }

 a.signup_button{
   margin-left: auto;
   margin-right: auto;
   display: block;
   background: green;
   font-size: 150%;
   font-weight: bold;
   text-align: center;
   width: 100px;
   padding: 10px;
 }

 /*Round Corners*/

 .round{
   border-radius: 10px;  /*round the div corners by 10px*/
 }

 footer{
   text-align: center;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
 }

 footer nav{
   float: none;
 }*/

 /* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}