<ul>
	<p style="font-size:42px;">
 		<%= gravatar_for user %>
 		<%= link_to user.name, user %>
 		<% if current_user.admin? && !current_user?(user) %>
 			| <%= link_to "delete", user, method: :delete, data: { confirm: "ARE YOU SURE?" } %>
 		<% end %>
	</p>
</ul>


<!-- Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users, Rails automatically iterates through them and renders each one with the _user.html.erb partial. The result is this impressively compact code. -->