<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>  <!-- "title" helper is defined in application_helper -->
	<%= csrf_meta_tags %>	<!-- embeded method used for security reasons -->
</head>

<body>

<%= yield %>

</body>
</html>

